h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.chat-box {
  border: 10px solid #2f8f4c;
}

.message-user {
  font-weight: bold;
  margin-right: 10px;
  /* text-align: left; */
}

.main-container {
  /* background-image: url('../public/speech-bubbles-seamless-vector-background-endless-pattern-with-dialog-signs-talk-discussion-theme-social-media-communication_570429-1693.jpg'); */
  /* background-image: url('../public/lobby.jpg'); */
  /* background-image: url('../public/cartoon\ boardroom.jpg'); */
  background-image: url('../public/boardroom\ 2.jpg');
  /* background-color: white; */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

/* .user-list-item {
  padding: 0.1rem;
} */

/* .outgoing-message {
  padding: 0.1rem;
} */